::selection{background:#333;color:#fff}::-moz-selection{background:#333;color:#fff}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track:hover {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dfdfdf; 
}

a, a:visited, a:hover {
  color: #fff;
}

#header {
	width: 100%;
	height: 50px;
	z-index: 5;
	position: relative;
	background-color: #f1bf6c;
}

#leftbar {
	background-color: #fff;
	width: 150px;
	height: 100%;
	position: absolute;
	top: 0;
	left:;
	text-align: center;
	overflow: auto;
	overflow-x: hidden;
	
}

#leftbar span {
	display: none;
}

#leftbar h5 {
	border-bottom: solid 5px #f1bf6c;
	margin-top: 110px;
	padding-bottom: 10px;
	background-color: #fff;
	position: relative;
	z-index: 1;
}

#leftbar li {
	position: relative;
	z-index: 1;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	list-style: none;
	margin-left: 35px;
	margin-top: 20px;
	background-color: #fff;
	border: solid 5px #f1bf6c;
	text-transform: uppercase;

	font-family: 'proxima_nova_ltbold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#leftbar li h6 {
	margin-top: 25px;
	font-size: 1.3em;
	color: #f1bf6c;
}

#leftbar li:hover {
	background-color: #f1bf6c;
	cursor: pointer;
}

#leftbar li:hover h6 {
	color: #fff;
}

#leftbar li:hover span {
	display: block;
}

.fadeout { 
	position: fixed; 
	z-index: 5;
	bottom: 0; left: 0;
	width: 150px; 
	text-align: center; 
	margin: 0; padding: 30px 0; 
	
	/* "transparent" only works here because == rgba(0,0,0,0) */ 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,0)),color-stop(1, white));
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), white);
        background-image: -moz-linear-gradient(top, rgba(255,255,255,0), white);
        background-image: -ms-linear-gradient(top, rgba(255,255,255,0), white);
        background-image: -o-linear-gradient(top, rgba(255,255,255,0), white);
}

#timespine {
	background-color: #f1bf6c;
	width: 5px;
	height: 100%;
	position: fixed;
	margin-left: 75px;
	top: 0px;
	z-index: 0;
}

#rightbar {
	background-color: #fff;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 300px;

	border-left	: solid 10px #dfdfdf;
}

.content {
	margin-top: -25px;
}

button {
  width: auto;
  float: left;
  padding: 10px;
  border-radius: 10px;
}

body {
	background-image: url('../img/bg.png');
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body.splash {
	background-color: #f1bf6c;
	background-image: none;	
}

h1, h2, h5 {
	text-transform: uppercase;
	font-size: 1.5em;
	color: #adacad;
	font-family: 'proxima_nova_ltbold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
	font-size: 6em;
	text-align: center;
	color: #fff;
	margin-top: 100px;
}

#header h1 {
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	font-size: 2em;
}

#header h2 {
	margin-top: 4px;
	float: left;
	margin-left: 20px;
	font-size: 3em;
	color: #FFFFFF;
}


h2 {
	font-size: 4em;
	text-align: center;
	color: #f1bf6c;
}

p.splashdesc {
	color: #fff;
	text-align: center;
	font-size: 2.5em;
}

.footer h5 {
	color: #fff;
}

.milename {
	text-transform: uppercase;;
	color: #f1bf6c;
	font-size: 5.5em;
	font-family: 'proxima_nova_ltbold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-top: -10px;
}

.miledesc {
	font-size: 1.5em;
}

.content {
	padding: 20px;
	height: auto;
}

.miletask {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 5px #dfdfdf;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	display: block;
	width: 400px;
}


input[type="checkbox"] {
	-webkit-appearance: none;
    background-color: #fafafa;
    border: 5px solid #dfdfdf;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 25px;
    z-index: 7;
    display: inline-block;
    position: relative;
}

input[type="checkbox"]:hover {
	border: 5px solid #f1bf6c;
}

input[type="checkbox"]:hover ~ label {
	color: #f1bf6c;
}

input[type="checkbox"]:active, input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
input[type="checkbox"]:checked {
    background-color: #e9ecee;
    border: 5px solid #f1bf6c;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
 
input[type="checkbox"]:checked:after {
    content: '\2714';
    color: #f1bf6c;
    font-size: 50px;
    position: absolute;
    top: -5px;
    left: 5px;
}

input[type="checkbox"]:checked ~ label {
    color: #f1bf6c;
}

label {
	text-transform: uppercase;
	color: #dfdfdf;
	font-size: 21px;
	font-family: 'proxima_nova_ltbold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.check {
	float: left;
}

.tasktitle {
	font-size: 1.3em;
	line-height: 25px;
}

.taskdata {
	position: relative;
	left: 10px;
	z-index: 0;
}

.footer {
	background-color: #f1bf6c;
	height: auto;
}

.footername {
	text-transform: uppercase;
	font-size: 3em;
	color: #fff;
	margin-top: -10px;
	font-family: 'proxima_nova_ltbold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

span.tooltip {
      position: relative;
      right: 42px;
      bottom: 63px;
      width: 150px;
      height: 80px;
      line-height: 20px;
      padding: 10px 10px;
      font-size: 15pt;
      text-align: left;
      color: #fff;
      background: #f1bf6c;
      text-overflow: ellipsis;
}

.splashbutton {
	text-align: center;	
	color: #fff;
	height: 50px;
}

.splashbutton a {
	color: #fff;
	border-radius: 30px;
	width: 200px;
	border: 3px solid #fff;
	padding: 10px;
}

.splashbutton a:hover {
	color: #f1bf6c;
	background-color: #fff;
	border-radius: 30px;
	width: 200px;
	padding: 10px;
}

@font-face {
    font-family: 'proxima_nova_ltbold';
    src: url('http://wuzhonglin.bol.ucla.edu/fonts/proximanova-semibold-webfont.eot');
    src: url('http://wuzhonglin.bol.ucla.edu/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://wuzhonglin.bol.ucla.edu/fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('http://wuzhonglin.bol.ucla.edu/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('http://wuzhonglin.bol.ucla.edu/fonts/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* -- modals -- */
/* Container */
.modal {

    /* Overlay page content */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;

    /* Transition opacity on open */
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;

    /* Hide for now */
    opacity: 0;
    pointer-events: none;
}

/* Show modal */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    /* at time of writing (Feb 2012), pointer-events not supported by Opera or IE */
}

/* Content */
.modal > div {
    width: 500px;
    background: #fff;
    position: relative;
    margin: 10% auto;

    /* Default minimise animation */
    -webkit-animation: minimise 500ms linear;
    -moz-animation: minimise 500ms linear;

    /* Prettify */
    padding: 30px;

    background: #fff;

    text-shadow: 0 1px 0 #fff;
}

/* Override animation on modal open */
.modal:target > div {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
}

.modal h2 {
    font-size: 50px;
    padding: 0 0 10px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
  55% {
    -webkit-transform: scale3d(1.08,1.08,1);
  }
  75% {
    -webkit-transform: scale3d(0.95,0.95,1);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
  }
} 

@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: scale3d(0.1,0.1,1);
  }
  55% {
    -moz-transform: scale3d(1.08,1.08,1);
  }
  75% {
    -moz-transform: scale3d(0.95,0.95,1);
  }
  100% {
    -moz-transform: scale3d(1,1,1);
  }
}

@-moz-keyframes minimise {
  0% {
    -moz-transform: scale3d(1,1,1);
  }
  100% {
    -moz-transform: scale3d(0.1,0.1,1);
  }
}

/* Modal close link */
.modal a[href="#close"] {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
}

/* Reset native styles */
.modal a[href="#close"]:focus {
    outline: none;
}

/* Create close button */
.modal a[href="#close"]:after {
    content: 'X';
    display: block;

    /* Position */
    position: absolute;
    right: -10px;
    top: -10px;
    width: 1.5em;
    padding: 1px 1px 1px 2px;

    /* Style */
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    background: #000;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 20px;
    }

    .modal a[href="#close"]:focus:after,
    .modal a[href="#close"]:hover:after {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

.modal a[href="#close"]:focus:after {
    outline: 1px solid #000;
}

/* Open modal */
a.openModal {
    margin: 1em auto;
    display: block;
    width: 200px;
    background: #ccc;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    background: #fff;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

a.openModal:hover,
a.openModal:focus {
    background: -moz-linear-gradient(#fff, #ccc);
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
}

.modal p {
	font-style: normal;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 25px;
	font-size: 15px;
}
